/* classes */
.clearfix::after
{
    content:" ";
    display: table;
    clear: both;
}

.column{
    padding: 5px;
    float: left;
}

.rating{
    font-size: 12pt;
    font-weight: bold;
}

/* IDs */

#addTopic{
font-weight: bold;
font-size: 12pt;
}

/* html tags */

body{
    background:  #f2f2f2;
}

img{
    float: left;
}

button{
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-size: 12pt;
    background: #5a9798;
    color: white;
}

