/* classes */
.clearfix::after
{
    content:" ";
    display: table;
    clear: both;
}

.column{
    padding: 5px;
    float: left;
}

.rating{
    font-size: 12pt;
    font-weight: bold;
}

/* IDs */

#addTopic{
font-weight: bold;
}

/* html tags */
img{
    float: left;
}